<form action="/login" method="post" accept-charset="utf-8">
  <input type="text" name="email" id="email" size="20" value="<%= params["email"] %>">
  <input type="password" name="password" id="password" size="20" value="<%= params["password"] %>">

  <p><input type="submit" value="Login &rarr;"></p>
</form>