<a class="btn primary" title="New Post" href="/admin/posts/new">New Post</a>

<table class="zebra-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
    <% for post in @posts %>
      <tr>
        <td><a href="/admin/posts/<%= post.to_url %>/edit" title="Edit <%= post.title %>"><%= post.title %></a></td>
        <% if post.published? %>
        <td><%= date_to_string post.published_at %></td>
        <% else %>
        <td><span class="label">DRAFT</span></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>