<% if @error %>
<div class="alert-message error fade in" data-alert="alert">
  <a class="close" href="#">×</a>
  <p><strong>Oops!</strong> It looks like you need to <a href="javascript:$('#email').focus()">try again</a>.</p>
</div>
<% end %>
          
<div class="row" style="margin-top: 40px;">
  <div class="span8" style="border: 1px solid #ddd; padding-top: 10px;">
    <form action="/login" method="post" accept-charset="utf-8" style="margin-bottom: 0px;">
      <fieldset id="login" style="margin-bottom: 0px;">
        <legend>Login</legend>
        <div class="clearfix">
          <label for="email">Email</label>
          <div class="input">
            <input class="large<%= @error ? " error" : "" %>" type="text" name="email" id="email" size="20" value="<%= request["email"] %>">
          </div>
        </div>
        <div class="clearfix">
          <label for="password">Password</label>
          <div class="input">
            <input class="password<%= @error ? " error" : "" %>" type="password" name="password" id="password" size="20">
          </div>
        </div>
        <div class="actions" style="margin-bottom: 0px;">
          <input type="submit" class="btn primary" value="Submit">
        </div>
      </fieldset>
    </form>
  </div>
</div>