<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">	<!-- Force Latest IE rendering engine -->
	<meta name="description" content="Random Thoughts">
  <meta name="author" content="Sam Smoot">
	<title>sam.github.com</title>

  <link href="http://feeds.feedburner.com/ssmoot" rel="alternate" title="sam.github.com" type="application/atom+xml" />

  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <style type="text/css">
    body {
      margin-top: 20px;
      background: #fff;
      font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
      color: #444;
      -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
      -webkit-text-size-adjust: none;
    }
    .container { width: 840px; }
    a { color: #06A; text-decoration: none; }
    a:hover {
      color: #06A;
      text-decoration: underline;
      cursor: pointer;
    }
    a:visited { color: #607890; }
    .dateline { color: #999; }
    p { margin-bottom: 20px; }
    p, .dateline {
      font-size: 1.25em;
      line-height: 1.5em;
    }
    .sidebar ul {
      list-style: none outside;
      margin: 0px;
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    .sidebar ul li { line-height: 1.4em; }
    h1, h2, h3 { font-weight: normal; }
    h1 {
      font-size: 3.8em;
      line-height: 1.1em;
    }
    h2 { font-size: 2.8em; margin-bottom: 10px; }
    .categories { margin-bottom: 20px; }
    li.category { font-size: 14px; margin-left: 4px; }
  </style>
  
  <script src="/js/jquery-1.7.1.min.js"></script>
</head>
<body>
	<div class="container">
	  <div class="content">
	    <div class="row">
	      <div class="span3 sidebar">
          <h1><a href='/'>Sam Smoot</a></h1>

          <ul>
            <li><span style="color: #999;">Random Thoughts.</span></li>
            <li><a href="mailto:ssmoot@gmail.com" title="If you are seeing this, you should definitely email me" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Email']);">ssmoot@gmail.com</a></li>
          </ul>

          <ul>
            <li><a href="http://github.com/sam" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Github']);" title="I share and fork code here">Github</a></li>
            <li><a href="http://twitter.com/srsmoot" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar Twitter']);" title="You should follow me">Twitter</a></li>
            <li>
              <a href="http://feeds.feedburner.com/ssmoot"
                onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Sidebar
                RSS']);" title="Subscribe to get the latest blog posts
                in to your news reader">RSS</a>
            </li>
            <li><a title="Categories" href="/categories">Categories</a></li>
          </ul>
        </div>

        <div class="span10">
          <%== yield %>
        </div>
      </div>
    </div>
  </div>

    <!-- Grab Google CDN's jQuery. fall back to local if necessary
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/jquery-1.4.2.min.js"%3E%3C/script%3E'))</script>
    -->

    <!-- Trackin yer visits -->
    <script> var _gaq=[["_setAccount","UA-27643471-1"],["_trackPageview"]]; (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1; g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js"; s.parentNode.insertBefore(g,s)}(document,"script")); </script>
    
    <script src="/js/bootstrap-alerts.js"></script>
  </body>
</html>
