@(posts: Seq[Post])

@import helper.twitterBootstrap._
@import helpers.Html._

@main {
    <a class="btn primary" title="New Post" href="@routes.Posts.create">New Post</a>

    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Published</th>
            </tr>
        </thead>
        <tbody>
            @for(post <- posts) {
            <tr>
                <td><a href="@post._id.map(routes.Posts.edit _)" title="Edit @post.title">@post.title</a></td>
                @post.publishedAt.map { date => <td>@formatDate(date)</td> }.getOrElse { <td><span class="label">DRAFT</span></td> }
            </tr>
            }
        </tbody>
    </table>
}(Nil)