@(postForm: play.api.data.Form[Post])(implicit categories: Seq[String])

@import helper.twitterBootstrap._
@import helpers.Markdown._
@import helpers.Html._
@import sprouch.JsonProtocol._
@import spray.json._

@main {

    @helper.form(action = postForm.value.map { post => routes.Posts.update(post._id.get) }.getOrElse(routes.Posts.create)) {
    <fieldset id="post" style="margin-bottom: 0px;">
        <legend>Post</legend>

        @helper.inputText(postForm("title"), 'label -> "Title")

        @helper.inputText(postForm("slug"), 'label -> "Slug")

        @helper.inputText(postForm("publishedAt"), 'label -> "Publish On")

        @helper.textarea(postForm("body"), 'label -> "Body")

        @helper.input(postForm("categories"), 'label -> "Categories") { (id, name, value, args) =>
            <input class="large typeahead" type="text" name="@name" id="@id" @toHtmlArgs(args)>
        }

        <div class="actions" style="margin-bottom: 0px;">
            <input type="submit" class="btn primary" value="Save">
            <a href="/admin" title="Return to Admin" class="btn">Cancel</a>
            @postForm.value.map { post =>
            <a href="/posts/@post._id/delete"
            title="Delete &quot;@post.title&quot;" class="btn danger">Delete</a>
            }
        </div>
    </fieldset>
    }

    <script type="text/javascript" charset="utf-8">
        $('.typeahead').typeahead({
            "source": @categories.toJson
        });
    </script>

}(Nil)